*{
  // background-color: #EFF3ED;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .wrapper{
//   font-size:200%;
// }
.header-wrapper{
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.section{
  margin-top: 60px;
  margin-left: 7%;
  width: 65%;
}

// .div.container.main-wrapper{
//   width: 20px;
// }

h1.name{
  margin:15px 0 20px 0;
}

div.container.header-wrapper{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
}

div.columns.main-column{
  padding-bottom: 190px;
  border-bottom: 2px solid black;
}

ul.social-links{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  // border:2px solid black;
}

p.about{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  padding-right: 40px;
}


h1.name{
  font-family: 'Lato', sans-serif;
  // font-size: 10vw;
  font-size: 11.2vw;
  color: black
}