*{
  // background-color: #EFF3ED;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .wrapper{
//   font-size:200%;
// }

h1.name{
  font-family: 'Lato', sans-serif;
  font-size: 11.5vw;
  color: black
}