*{
  // background-color: #EFF3ED;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-wrapper{
  // border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.header-container{
  height: 4vw;
  overflow: hidden;
}

div.container.main-wrapper{
  padding-bottom: 190px;
  border-bottom: 2px solid black;
}

main{
  visibility: hidden;
  margin-top: 60px;
  margin-left: 7%;
  width: 65%;
}

section.section{
  padding-bottom: 0;
  // margin-left: 7%;
  // width: 65%;
}

div.name-container{
  height: 20vw;
  overflow: hidden;
}

h1.name{
  margin:15px 0 20px 0;
  font-family: 'Lato', sans-serif;
  // font-size: 10vw;
  opacity: 1;
  font-size: 11.2vw;
  color: black
}

div.container.header-wrapper{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  
}

.hidden{
  display: hidden;
}

div.columns.main-column{
  margin-left: 0;
  margin-right: 0;
}

.link-container{
  height: 3vw;
  overflow: hidden;
}

ul.links{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  // border:2px solid black;
  a{
    color: inherit;
    position: relative;
    .underline {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color:#4a4a4a;
    }

  }
}

    // span {
    //   display: block;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 0;
    //   height: calc(1px + 0.6vw);
    //   background-color: red;
    // }

p.about{
  font-family: 'Lato', sans-serif;
  font-size: 2vw;
  padding-right: 40px;
}

.about-line-container{
  overflow: hidden;
  height: 3vw;
  // z-index: 3;
}

ul.skills{
  font-size: 5vw;
}

div.skill-namer{
  position: fixed;
  text-align:left;
  padding-left: 20px;
  width: 100vh;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  transform: rotate(-90deg) translate(100%, 0);
  transform-origin: right bottom;
}

.skills-animation{
  animation: skillAnimation 2.5s;
}

@keyframes skillAnimation {
  0% {
    opacity: 0;  
  }
  50%{
    opacity: 1;  
  }
  100%{
    opacity: 0;  
  }
}

span.icon{
  // overflow: hidden;
}


p.skill-text{
  font-family: 'Lato', sans-serif;
  font-size: 9vw;
  color: black;
}

.skills-wrapper {
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 48px;
}

span.icon{
  margin: 8px;
  width: 3.4vw;
  opacity: 1;
}

div.container.project-wrapper{
  padding-bottom: 4vw;
  padding-top: 4vw;
  border-bottom: 1px solid black;
}
div.container.project-wrapper:last-child{
  padding-bottom: 200px;
  padding-top: 4vw;
  border-bottom: 2px solid black;
}

p.project-name{
  // margin:15px 0 20px 0;
  font-family: 'Lato', sans-serif;
  // font-size: 10vw;
  font-size: 5vw;
  color: black;
  sup{
    font-size: 2vw;
  }
}

.deployed-site {
  opacity: 1;
  a{
    color: black
  }
}
.github-repo {
  opacity: 1;
  a{
    color: inherit
  }
}
.demo-link {
  opacity: 1;
}

h1.contact{
  margin:15px 0 20px 0;
  font-family: 'Lato', sans-serif;
  // font-size: 10vw;
  font-size: 8vw;
  color: black
}

div.container.contact-wrapper{
  border-bottom: 2px solid black;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.player-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // align-items: center;
  // margin-top: 45vh;
  // justify-content: center;
}

// .react-player {
//   position: absolute;
//   top: -1110;
//   left: 1000;
// }